<section class="form">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<h2 class="form-title">
					You think we're	cool? let's wokr together

				</h2>
				<a href="#" class="form-button">get in touch</a>
			</div>
			<div class="col-12 col-md-6 form-submit">
				<h3>stay informed with our<br> newsletter</h3>
				<p class="form-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia tempora quas, tenetur maiores nesciunt nemo, quam corporis? Necessitatibus, aspernatur, suscipit.
				</p>
				<form action="">
					<input type="email" placeholder="Your email" class="form-placeholder">
					<input type="submit" value="send" 	class="form-submit__button">
				</form>
			</div>
		</div>
	</div>

</section>
<footer class="akad-footer">
	<div class="container">
	<div class="row justify-content-between">
	<ul class="akad-footer__nav">
		<li class="akad-footer__nav-item">
			<a href="#">home</a>	
		</li>
		<li class="akad-footer__nav-item">
			<a href="#">about us</a>	
		</li>
		<li class="akad-footer__nav-item">
			<a href="#">services</a>	
		</li>
		<li class="akad-footer__nav-item">
			<a href="#">portfolio</a>	
		</li>
		<li class="akad-footer__nav-item">
			<a href="#">blog</a>	
		</li>
		<li class="akad-footer__nav-item">
			<a href="#">contact us</a>	
		</li>
	</ul>
	<div class="akad-footer__author">
		<p>Created by akhouad 2016. All Rights Reserved</p>
		<ul class="akad-footer__social text-right">
			<li><a href="#"><i class="fas fa-space-shuttle"></i></a></li>
			<li><a href="#"><i class="fas fa-space-shuttle"></i></a></li>
			<li><a href="#"><i class="fas fa-space-shuttle"></i></a></li>
			<li><a href="#"><i class="fas fa-space-shuttle"></i></a></li>
			<li><a href="#"><i class="fas fa-space-shuttle"></i></a></li>
			<li><a href="#"><i class="fas fa-space-shuttle"></i></a></li>
			
		</ul>
		

	</div>
	</div>
	</div>
</footer>
	<script src="js/script.js"></script>

</body>
</html>