<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AKAD bootstrap</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header-main">
		<div class="container">
			<div class="header-top row align-items-center">
				<div class="col">
					<a href="#" class="header-logo">AKAD.</a>
				</div>
				<div class="col text-right">
					<div class="nav-icon">
    					<span></span>
   						<span></span>
    					<span></span>
   						<span></span>
					</div>
				</div>

				
			</div>
			<div class="header-center row align-items-center">
			<div class="col text-center ">	
				
					<h1>about us!</h1>
					<a href="#">home</a>
					<span>/</span>
					<a href="#">about us</a>
			
			</div>
			</div>
		</div>
	</header>